<p>Bonjour,<br/>
<p>Nous accusons réception de votre commande.</br>Le montant de votre commande est <b>{{ total }}</b>&euro;.</br> Nous vous en sommes très réconnaissant pour votre confiance.</p>
<p>Vous pouvez consulter le détail de votre achat en pièce jointe.</p>
<p>Cordialement,</p>
<p>Le responsable commercial chez iVarotra</p>