{% extends "::templateadmin.html.twig" %}
{% block body %}
	<table class="table table-bordered table-striped">
		<tr>
			<th>PRODUIT</th>
			<th>QUANTITE</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>
{% endblock %}